build*/
external/*
!external/CMakeLists.txt
*.sublime-workspace
.tags
tags
*.pyc
*.swp
*.swo

system.txt

*.log
/.vscode/
/source/.vscode/

/source/inc/export_flags/

/inc/export_flags/
/inc/Windows/
/inc/Linux/
/inc/os/Windows/
/inc/os/Linux/
/inc/os/Darwin/
/inc/Darwin/
/win_build/
/.vs/

endian/
